.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba($color-grey-dark-1, 0.3);

  @media only screen and (max-width: $lg) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: solid 1px $color-grey-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $xxs) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $sm) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: $color-grey-dark-1;
  display: flex;
  flex: 0 0 18%; // Exactly 18% of parent width
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1; // Grow as much as it can
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  font-size: 1.4rem;

  @media only screen and (max-width: $sm) {
    padding: 3rem;
  }

  @media only screen and (max-width: $xs) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: $shadow-light;

  @media only screen and (max-width: $sm) {
    margin-right: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $xs) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
