.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    fill: $color-primary;

    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}

.btn {
  padding: 1.8rem 3rem;
  border: none;
  border-radius: 0;
  background-color: $color-primary;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.5rem;

  &__img {
    z-index: 1;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__like {
    z-index: 2;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: $color-primary;
    align-self: start;
  }

  &__name {
    z-index: 2;
    width: 80%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    transform: translateY(50%);
    padding: 1.25rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $font-display;
    background-color: $color-secondary;
    color: #fff;
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      fill: $color-primary;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    display: block;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-family: $font-display;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}
