.sidebar {
  background-color: $color-primary;
}

.header {
  background-color: $color-grey-dark-2;
}

.realtors {
  background-color: $color-secondary;
}

.features {
  background-color: $color-grey-light-2;
}

.story {
  &__pictures {
    background-color: $color-primary;
  }

  &__content {
    background-color: $color-grey-light-1;
  }
}

.homes {
  background-color: $color-secondary;
}

.gallery {
  background-color: $color-grey-dark-2;
}

.footer {
  background-color: $color-secondary;
}
