// The clearfix mixin restores height to floated elements
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin button-hover-effect {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

@mixin button-active-effect {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

@mixin section-background-image($image-url) {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url($image-url);
  background-size: cover;
}

@mixin text-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}
@mixin center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
