/*
Media queries are not affected by our rem value of 10px.
Instead, we use 'em', which is 16px.
The widths are defined by 'px'/16px to get the em value
e.g. for the small breakpoint, 600px/16px = 37.5 em
*/
@mixin respond($breakpoint) {
  @if $breakpoint == xl {
    @media (min-width: 112.5em) {
      // >1800px
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: 75em) {
      // <1200px
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: 56.25em) {
      // <900px
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (max-width: 37.5em) {
      // <600px
      @content;
    }
  }
}

// The clearfix mixin restores height to floated elements
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin button-hover-effect {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

@mixin button-active-effect {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

@mixin section-background-image($image-url) {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url($image-url);
  background-size: cover;
}

@mixin text-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}
@mixin center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin hyphens-polyfill($arg) {
  hyphens: $arg;
  -moz-hyphens: $arg;
  -ms-hyphens: $arg;
  -webkit-hyphens: $arg;
}
