.row {
  max-width: $grid-width;
  margin: 0 auto;

  // The :not selector selects everything except the specified selector
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(md) {
      margin-bottom: $gutter-vertical-md;
    }
  }

  @include clearfix;
  @include respond(md) {
    max-width: 80%;
  }

  // The brackets and regex syntax allows selecting a class partial
  // In this case, we want all the classes that begin with "col-"
  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(md) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-md;
      }
    }

    @include respond(md) {
      width: 100% !important;
      padding: 0 3rem;
    }
  }

  .col-1-of-2 {
    // The calc() function can combine px, %, em, and rem
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    // The calc() function can combine px, %, em, and rem
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    // The calc() function can combine px, %, em, and rem
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    // The calc() function can combine px, %, em, and rem
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    // The calc() function can combine px, %, em, and rem
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    // The calc() function can combine px, %, em, and rem
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + (2 * #{$gutter-horizontal})
    );
  }
}
