.btn {
  /* Both link and visited pseudo-classes will have the same style */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    @include button-hover-effect;

    &::after {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  &:active {
    @include button-active-effect;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveUp 0.5s cubic-bezier(0.17, 0.67, 0.51, 1.46) 0.75s backwards;
  }
}

.btn-text {
  transition: all 0.2s;

  &:link,
  &:visited {
    font-size: $font-size-default;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    @include button-hover-effect;
  }

  &:active {
    @include button-active-effect;
  }
}
